<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--GOOGLE SEARCH API-->
    <add key="GoogleSearchUrl" value="https://www.googleapis.com/customsearch/v1?key="/>
    <add key="GoogleCx" value="003402237301993899061:dgkzctkomxy"/>
    <add key="GoogleKey" value="AIzaSyCmP49lJ39C_ZDU93K_jLcGFayxi4cRVGQ"/>

    <!--MSN SEARCH API-->
    <add key="MsnSearchUrl" value="https://api.bing.microsoft.com/bing/v7.0/search?q="/>
    <add key="MsnCustomConfigId" value="7d84ec19-7db7-4e85-8791-6877b82d7f53"/>
    <!--7d84ec19-7db7-4e85-8791-6877b82d7f53-->
    <!--c5e5b35b-74f6-4ce9-81bb-984011f92ff7-->
    <!--7b3381f6-d05c-4400-9464-eef630449306-->
    <!--3f1d2e50-4ce7-4f3e-8796-0d2d949aee93-->
    <add key="MsnKey" value="30b68e8cc7d743358e595af1f0740acb"/>
    <!--30b68e8cc7d743358e595af1f0740acb-->
    <!--3ec6e50ea0b04cbfab46b5ddcc528af5-->
    <!--d85d90e1436040999be20de6d9c83726-->
  </appSettings>
</configuration>